@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import "custom";
@import "~bootstrap/scss/bootstrap";

.alpha { 
    background-color: #4CAF50; 
    border-color: #4CAF50;
}

body {
    margin:0;
    font-family: 'Quicksand';
    font-size: 16px;
}

.container {
    margin: 120px 40px 40px 40px;
}